nav.navbar.navbar-expand-sm.bg-light.navbar-light{
	margin-bottom: 10px;
}
a {
  color: #00B7FF;
}
.breadcrumb{
	background:none;
	border: none;
}
.coloredtest{
	background: lightskyblue;
}
.tableschedule td{
	padding-top: 0;
	padding-bottom: 0;
}
.clockbutton{
	border-radius: 50%;
	width: 140px;
	height: 140px;
}
.breakbutton{
	border-radius: 15%;
	width:100px;
	height:30px;
	margin: 5px;
}
.lunchbutton{
	border-radius: 15%;
	width: 110px;
	height: 30px;
	margin: 5px;
}