doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome-4.7.0/css/font-awesome.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.container
			nav.navbar.navbar-expand-sm.bg-light.navbar-light
				a(href="/").navbar-brand Work4rs
			block content
		